@charset "UTF-8";

:root {
    --corAzul: #000e2e;
    --CorAzulClaro: rgb(68, 123, 187);
    --CorAzulSombra: rgb(72, 117, 175);
}


body {
    margin: 0;
    padding: 0;
    outline: none;
    background-color: var(--corAzul);
    /* background-color: #162037; */
    color: rgb(231, 225, 225);
    font-family: poppinsregular;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 50px;
}

header h1 {
    font-family: 'Mont';
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    display: inline-block;
    margin-left: 15px;
}

li a {
    transition: 0.3s;
}


.icon-eng {
    margin-left: 25px;
    width: 30px;
    cursor: pointer;
}

.header-modal {
    display: flex;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 5px;
    padding-top: 0px;
    justify-content: space-between;
    align-items: center;
}

.footer-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 12px;
    background-color: rgba(68, 124, 187, 0);
    border: 1px solid white;
    color: #ffffff;
    border-radius: 10px;
    font-family: "Poppins-light", sans-serif;
    margin-bottom: 10px;
    cursor: pointer;
}

.botao-fechar-modal {
    border: none;
    background-color: transparent;
    color: white;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'JetBrains';
}

.header-modal h3 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 10px;
    width: 30%;
    font-family: "Poppins-light", sans-serif;
}

.modal::backdrop {
    background-color: rgb(0, 0, 0, 0.7);
}

.modal[open] {
    background-image: linear-gradient(to bottom, #05112c, #162037, #050a18);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(92, 92, 92);
    border-radius: 10px;
    padding: 10px 28px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 80vh;
}

.modal p {
    margin: 0;
    font-size: 15px;
    text-align: center;
    font-family: 'Mont';
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    height: 100vh;
    transition: background .5s;
}

/*MODO DARK OR LIGHT*/

body.active {
    background-image: linear-gradient(var(--CorAzulClaro), white, white);
    color: white;
    height: 100vh;
}


.header-project.active h1 {
    color: var(--CorAzulClaro);
}

.title-container.active h3 {
    color: var(--CorAzulClaro);
}

.container-project.active {
    border-color: var(--CorAzulClaro);
    box-shadow: 0px 0px 10px var(--CorAzulClaro);
}

.txt-animado.active span {
    position: relative;
    font-family: "Poppins-light", sans-serif;
}


.txt-animado.active span::before {
    content: "";
    color: rgb(255, 255, 255);
    animation: palavras 5s infinite; 
}

.txt-animado.active span::after {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% + 10px);
    border-left: 2px solid rgb(255, 255, 255);
    right: -10px;
    top: -5px;
    animation: cursor .8s infinite, digitar 35s steps(30) infinite;
    background: rgba(255, 255, 255, 0.541);

}


.botaodownload.active button {
    text-decoration: none;
    padding: 13px;
    border-radius: 40px;
    font-size: 14px;
    align-self: center;
    border: none;
    font-family: "Poppins", sans-serif;
    background-color: #5788C2;
    color: white;
    margin-top: 15px;
    box-shadow: 0px 0px 4px rgb(255, 255, 255);
    cursor: pointer;

}


.modal.active {
    background: rgb(112, 165, 214);
    color: white;
    border-color: #fff;
}



.botao.active::before {
    left: 23px;
}



.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 40px;
    height: 18px;
    border: 2px solid #fff;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    
}


.box-one {
    display: flex;
    padding-top: 15px;
    align-items: center;
}

.botaoidioma {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 90px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    margin: 0px 15px;
}


.botao::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: left .5s;

}

header a {
    color: rgb(231, 225, 225);
    text-decoration: none;
}

header a:hover {
    color: rgb(68, 123, 187);
}


.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container-principal {
    margin: auto;
    align-items: center;
    width: 50%;
}

.container-principal h1 {
    font-size: 40px;
    line-height: 1.5px;
}

.container-principal span {
    font-size: 25px;
    padding-bottom: 10px;
}

.container-principal p {
    font-family: "Poppins-light", sans-serif;
}

.logos img {
    padding: 15px 0px;
    width: 55px;
    height: 40px;
}


.botaodownload button {
    text-decoration: none;
    padding: 13px 25px;
    border-radius: 40px;
    font-size: 14px;
    align-self: center;
    border: none;
    font-family: 'Mont';
    background-color: var(--CorAzulSombra);
    color: var(--corAzul);
    margin-top: 15px;
    box-shadow: 0px 0px 10px var(--CorAzulSombra);
    cursor: pointer;
}


.txt-animado span {
    position: relative;
    font-family: "Poppins-light", sans-serif;
}


.txt-animado span::before {
    content: "";
    color: var(--CorAzulClaro);
    animation: palavras 5s infinite; 
}

.txt-animado span::after {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% + 10px);
    border-left: 2px solid var(--CorAzulClaro);
    right: -10px;
    animation: cursor .8s infinite, digitar 35s steps(30) infinite;
    background-color: var(--corAzul);
}


.image img {
    width: 350px;
    margin: 50px;
    margin-right: 80px;
}

/* PROJETOS */


.header-project {
    text-align: center;
    font-family: 'Mont';
}

.projetos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-project {
    height: 400px;
    width: 350px;
    margin: 30px 40px;
    background-color: rgba(0, 0, 12, 0);
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid gray;
}

.container-project p {
    color: gray;
    margin-top: 0px;
    padding-bottom: 5px;
    font-family: "Poppins-light";
}

.title-container  {
    color: white;
    font-family: 'poppinsregular';
}

.title-container h3, .title-container2 h3, .title-container3 h3 {
    display: inline-block;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    border-width: 50%;
}

.link-design img:hover {
    border-color: var(--CorAzulClaro);
    box-shadow: 0px 0px 10px var(--CorAzulClaro);
}

.logos-project {
    margin-bottom: 10px;
}

.logos-project img {
    width: 30px;
    height: 20px;
}


 .projeto-img .imagem-paglogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;  
} 


/* EFEITO SCROLL REVEAL */

.efeito-txt-principal, .efeito.txt-logos, .efeito-txt-image {
    visibility: hidden;
}


@keyframes digitar {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;

    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 10px);
    }
}

@keyframes cursor {
    0% {
        border-left: 2px solid var(--corAzul);
    }

}

@keyframes palavras { 
    0%, 100% {
        content: "Desenvolvedor Front-end";
        
    }
}
